pyrofork
tgcrypto
pymongo==4.8.0
motor==3.5.1

aiofiles
requests
aiohttp
telegraph
ujson
pyshorteners
pytz
dnspython==2.3.0

fuzzywuzzy
python-Levenshtein

Flask
gunicorn==20.1.0
werkzeug==2.0.2
itsdangerous==2.0.1
jinja2

python-dotenv==0.21.1
python-decouple

Pillow==10.4.0
lxml==5.2.1
psutil==5.9.4
numpy

pyromod
colorama
apscheduler

setuptools
